<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
   <div class="box" id="heading">
       <h1><%=listTitle%></h1>
   </div>
   <div class="box">
        <% newListItems.forEach(item=>{ %>
            <div class="item">
                <input type="checkbox">
                <p><%=item%></p>   
            </div>
        <% });%>
        <form action="/" method="post" class="item">
            <input type="text" name="newItem" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
        
   </div>
   
</body>
</html> 